<div class="loginCnt">

    <div class="container">

        <section class="get-in-touch">
            <h1 class="title fw-bolder">Registro</h1>
            <form class="contact-form row" action="/register" method="POST" enctype="multipart/form-data">

                <div class="form-field col-lg-6">

                    {{#if errorEmail}}
                        <div id="error">{{errorEmail}}</div>
                    {{/if}}

                    <input
                        type="email"
                        class="form-control input-text js-input"
                        id="email"
                        name="email"
                    />
                    <label for="email" class="form-label text-col-lgn">Dirección de email</label>
                </div>
                <div class="form-field col-lg-6">

                    {{#if errorPassword}}
                        <div id="error">{{errorPassword}}</div>
                    {{/if}}

                    <input
                        id="password"
                        class="input-text js-input form-control"
                        type="password"
                        name="plainPassword"
                        required
                    />
                    <label for="password" class="form-label text-col-lgn">Contraseña</label>
                </div>

                {{#if errorUsername}}
                    <div id="error">{{errorUsername}}</div>
                {{/if}}
                <div class="form-field col-lg-6">

                    <input
                        id="username"
                        class="input-text js-input form-control"
                        type="text"
                        name="username"
                        required
                    />
                    <label for="username" class="form-label text-col-lgn">Nombre de usuario</label>
                </div>

                 <div class="mb-3">
                    <label for="img" class="form-label">Img URL</label>
                    <input type="file" class="form-control" id="img" name="imgFile" value="img" />
                    <div class="form-text">Se verá públicamente</div>
                </div>

                {{#if errorMessage}}
                    <div id="error">{{errorMessage}}</div>
                {{/if}}

                <div class="form-field col-lg-12">
                    <button type="submit" class="submit-btn">Iniciar sesión</button>
                </div>
            </form>
        </section>

    </div>
</div>