<div class="container">

    <h1>soy los detalles de {{name}}</h1>

    <figure>
        <img
            src="{{sprites.other.dream_world.front_default}}"
            alt="image {{name}}"
        />

    </figure>
    <div>
        {{name}}
    </div>

</div>