<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>Editar perfil</h1>
            <hr />
            <form action="/profile/{{_id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="email" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}" />
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" />
                    <div class="form-text">Se verá públicamente</div>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Img URL</label>
                    <input type="file" class="form-control" id="img" name="imgFile" />
                    <div class="form-text">Se verá públicamente</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" required />
                </div>

                <button type="submit" class="btn btn-dark">eviar cambios</button>
            </form>
        </div>
    </div>
</div>