.body-font {

    font-family: 'Montserrat', sans-serif
}

img {
    width: 100%;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
}

a.navbar-brand {
    color: rgb(255, 211, 53);
}

a {
    text-decoration: none;
}

.sice-canvas {

    width: 200;

}

.logout-button {
    padding: 0;
    margin: 0;
}

.logout {
    background-color: black;
    border: 0px;
}

figure img {
    height: 300px;
    width: 250px;
}

#error {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(230, 140, 140, 0.5);
}


.pokeImg {

    margin-top: 40px;
    margin-bottom: 20px;
    width: 150px;
    height: 200px;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.name-card {
    margin: auto;
    padding: auto;
    display: block;
    width: 150px;
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    border-radius: 5px;

}

.poke-card-data a {
    color: rgb(227, 227, 227);
    text-shadow: 2px 2px 2px gray;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.poke-card-data p {
    color: rgb(163, 163, 163);
    text-decoration: none;
    text-align: right;
    margin-right: 35px;


}

.poke-img-bg {
    background-image: linear-gradient(180deg, #adffff 0, #a4ffff 25%, #9df2f2 50%, #97dade 75%, #92c5cb 100%);
}

.buttons-Admin {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.index-container {
    height: 100%;
}

.capitaliced {
    text-transform: capitalize;
}

.pokemonsProfile img {
    height: 100px;
    width: 100px;
}

.pt {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* //fondos  */

.profileGyms {
    background-color: rgb(214, 217, 216);
}

.profileGyms h2 {
    margin-bottom: 30px;
}

.profileEvents {
    background-color: rosybrown;
}

.profileEvents h2 {
    margin-bottom: 30px;
}

.profilePokemons {
    background-color: rgb(51, 51, 51);
}

.profilePokemons h2 {
    color: beige;
    margin-bottom: 30px;
}

.profileHeader {
    background-image: url("../images/fondoPerfil2.png");
    background-size: cover;
}

.backgroundIndex {
    background-image: url("../images/fondoIndex.jpg");
    background-size: cover;
}

.pokemonCard {
    background-color: rgb(170, 170, 170);
}


.gym-bg {

    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 140vh;
    z-index: -1;
}

.card {
    height: 100%;
}

.title-subp {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 235px;
    background-color: rgba(146, 108, 187, 0.6);
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(99, 99, 99);
    border: 2px solid rgb(83, 83, 83);
    border-radius: 15px;
}

.bg-card {
    background-color: gray;
}

.edit-bottom {
    display: block;
    margin: auto;
}

.height-card img {
    height: 200px;
    width: 100%;
}

.button-events-leader {
    margin-right: 5px;
}

.button-events-leader div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-events-leader form {
    height: 17px;
    margin-top: 2px;
}

.events-title {
    margin: 20px;
}

.user-list-img {
    height: 123px;
}

.link-list-user {
    color: rgb(239, 239, 239);
    text-decoration: none;
}

.pokemon-name span {
    padding: 4px 8px;
    border-bottom: 1px solid gray;
}

.pokemon-name {
    padding: 5px;
    margin: 20px;
    margin-left: 100px;
}

.pokeImg {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.main-img-pokemon img {
    margin-top: 140px;
}

/* //cards */

.pokemonCard img {
    width: 120px;
    height: 135px;
}

.gymCard img {
    width: 270px;
    height: 180px;
    display: block;
}

.gymCard {
    background-color: brown;
    color: beige;
}

.eventCard img {
    width: 270px;
    height: 180px;

    display: block;
}

.eventCard {
    background-color: rgb(70, 70, 70);
    color: rgb(162, 162, 162);
}

.eventCard a {

    color: rgb(227, 227, 227);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center a {
    display: block;
}

.profileImage img {
    width: 370px;
    height: 450px;
}

/* butons */

.btn-delete {
    background-color: rgb(211, 152, 253);
}

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;

    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #e1dccd;
    background: #e1dccd;
    background: -moz-linear-gradient(left, #0e0505 0%, #000000 100%) !important;
    background: -webkit-linear-gradient(left, #0e0505 0%, #000000 100%) !important;
    background: linear-gradient(to right, #0e0505 0%, #000000 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-col-lgn {
    color: #0e0505;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #0e0505;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #0e0505;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #0e0505, #000000);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}