.logout-button {
    padding: 0;
    margin: 0;
}

.logout {
    background-color: black;
    border: 0px;
}

figure img {
    height: 300px;
    width: 250px;
}

#error {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(230, 140, 140, 0.5);
}

.card {
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}

.pokeImg {
    width: 150px;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.index-container {
    height: 100%;
}


.capitaliced{
    text-transform: uppercase;
}